// COLORES
$negro: #000000;
$verde: #0097a7;
$amarillo: #ffc00a;
$gris: #757575;
$blanco: #ffffff;

// FUENTE PRINCIPAL -> KRUB
$fuente_principal: "Krub", sans-serif;

// Tamaños para Responsive
$celular: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopXL: 1280px;
