@use "../globales/variables" as v;
@use "../globales/mixins" as m;

.footer {
  //   background-color: v.$verde;
  //   padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  a{
    text-decoration: none;
  }
  svg {
    border-radius: 50%;
    padding: 0.5rem;
    border: 2px solid black;
  }
  p{
    font-size: 1.5rem;
  }
}

